body {
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Bungee Hairline", cursive;
}

h1 {
  font-size: 70px;
  line-height: 70px;
  text-align: right;
  letter-spacing: 15px;
  color: #ffffff;
  margin: -25px -10px 10px 0;
  opacity: 75%;
}

footer {
  font-size: 10px;
  color: #ffffff;
  text-align: right;
  margin-right: 11px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #a3f7bf;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 600px;
}

.square {
  background-color: #444444;
  box-shadow: 0 0 2px #000;
  margin: 2px;
  width: 25px;
  height: 25px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
